a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media screen and (max-width: 991px) {
  a {
    font-size: 120%;
  }  
}
  
@media screen and (max-width: 767px) {
  a {
    font-size: 130;
  } 
}
  
@media screen and (max-width: 479px) {
  a {
    font-size: 150%;
  } 
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
